<ul class="nav nav-tabs">
    <li class="active">@Html.ActionLink("Feed", "Index", "Feed", new { area = "Information" }, null)</li>
    <li>@Html.ActionLink("Regions", "Index", "Regions", new { area = "Information" }, null)</li>
    <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Information" }, null)</li>
    <li>@Html.ActionLink("Articles", "Index", "Articles", new { area = "Data", category = "Documents" }, null)</li>
    <li>@Html.ActionLink("Contact", "Index", "Contact", new { area = "Data", category = "Data" }, null)</li>
</ul>
