<div class="navbar navbar-inverse" id="subnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Feed", "Index", "Feed", new { area = "Feed" }, null)</li>
            <li>@Html.ActionLink("Regions", "Index", "Regions", new { area = "Regions" }, null)</li>
            <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Users" }, null)</li>
            <li>@Html.ActionLink("Articles", "Index", "Articles", new { area = "Articles"}, null)</li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
        </ul>
    </div>
</div>
