@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-inverse" id="subnav">
    <div class="col-md-12">
        <ul class="nav navbar-nav navbar-center">
            <li class="active">@Html.ActionLink("Feed", "Index", "Feed", new { area = "Feed" }, null)</li>
            <li>@Html.ActionLink("Regions", "Index", "Regions", new { area = "Regions" }, null)</li>
            <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Users" }, null)</li>
            <li>@Html.ActionLink("Articles", "Index", "Blog", new { area = "Blog" }, null)</li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
        </ul>
    </div>
</div>

<div class="site-wrap">
    <div class="container" id="main">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Feed</h4>
            </div>
            <div class="panel-body">
                ASdflsaf;asdfkdjasf;lasfjdaslf
            </div>
        </div>
    </div>
</div>
