<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Scripts/Polymer")
        <link rel="import" href="~/Scripts/Polymer/core-icon/core-icon.html" />
        <link rel="import" href="~/Scripts/Polymer/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="~/Scripts/Polymer/iron-icons/iron-icons.html">
        <link rel="import" href="~/Scripts/Polymer/custom-elements/smash-network-toolbar.html">

    </head>
    <body>
        <smash-network-toolbar title="Smash Network" username="Takaji"></smash-network-toolbar>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
